* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #252424;
  height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
}
body header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.image-text {
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #c8fff2;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #252424;
  text-decoration: none;
}

main {
  height: 100%;
  width: 100%;
}
main .text-secondary {
  color: #6fc909;
}
main .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 2%;
  bottom: 1rem;
  width: 2rem;
  align-items: center;
  gap: 1rem;
  transform: translateX(-200%);
}
main .social-icons i {
  font-size: 1.5em;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.8s ease-out;
}
main .social-icons a:hover {
  color: #6fc909;
}

@keyframes move-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes move-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.8s ease-out;
}
.menu-btn__burguer {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: #252424;
  transition: all 0.8s ease-out;
}
.menu-btn__burguer::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #252424;
  transition: all 0.8s ease-out;
}
.menu-btn__burguer::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #252424;
  transition: all 0.8s ease-out;
}
.menu-btn__burguer.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burguer.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burguer.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #f0f0f0;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.8s ease-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.8s ease-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #6fc909;
}
.nav .menu-nav__item #btn-color {
  padding: 4px;
  cursor: pointer;
  color: #252424;
  font-family: inherit;
  background: #f0f0f0;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 1s ease-out;
  position: relative;
  top: -0.1rem;
  width: 10rem;
}
.nav .menu-nav__item #btn-color:hover {
  background-color: #252424;
  color: #f0f0f0;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.8s ease-out;
}
.nav .menu-nav__link:hover {
  color: #6fc909;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}
.about__bio-image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(37, 36, 36, 0.9), rgba(37, 36, 36, 0.3)), url(../img/foto-gena.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about__bio {
  width: 80%;
  text-align: center;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}
.about p {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  text-align: center;
}
.about .features {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 17%;
  grid-gap: 2rem;
}
.about .features__feature {
  background: white;
  padding: 0.5rem;
  border: thick double #252424;
}
.about .features__feature h2 {
  margin-bottom: 0.5rem;
}
.about .features__feature .items {
  list-style: none;
}
.about .features__feature .items .element {
  padding: 0.5rem 0rem;
  text-transform: uppercase;
  border-bottom: 2px solid #6fc909;
}
@keyframes move-left-features {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

.projects {
  padding-bottom: 2rem;
}
.projects__bio-image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(37, 36, 36, 0.9), rgba(37, 36, 36, 0.3)), url(../img/foto-gena.jpg) center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects__color-btn {
  position: absolute;
  width: 5rem;
  z-index: 1;
  right: 1rem;
  top: 7rem;
}
.projects__color-btn-black {
  position: absolute;
  width: 5rem;
  z-index: 1;
  right: 8rem;
  top: 9rem;
}
.projects * {
  box-sizing: border-box;
}
.projects html,
.projects body {
  height: 100%;
}
.projects body {
  display: grid;
  place-items: center;
}
.projects .page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 80%;
  margin: 0 auto;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
}
.projects .card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 17rem;
  text-align: center;
  color: whitesmoke;
  border-radius: 1rem;
  box-shadow: -1px -1px 4px 6px #252424;
}
.projects .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: all 0.8s ease-out;
  pointer-events: none;
}
.projects .card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, hsla(0deg, 0%, 0%, 0) 0%, hsla(0deg, 0%, 0%, 0.009) 11.7%, hsla(0deg, 0%, 0%, 0.034) 22.1%, hsla(0deg, 0%, 0%, 0.192) 31.2%, rgba(0, 0, 0, 0.938) 100%);
  transform: translateY(-50%);
  transition: all 0.8s ease-out;
}
.projects .card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.projects .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: all 0.8s ease-out;
  z-index: 1;
}
.projects .title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  width: 10rem;
}
.projects .copy {
  font-family: "Cardo", serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  margin-top: 1rem;
  width: 10rem;
}
.projects .projects__btns {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  background: transparent;
  background-color: transparent;
  display: flex;
  bottom: -1rem;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
  width: max-content;
}
.projects .projects__btns :hover {
  color: red;
  transition: all 0.8s ease-out;
}
.projects .projects__btns :focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
.projects .projects__btns .projects__btn {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
@media (hover: hover) and (min-width: 600px) {
  .projects .card:after {
    transform: translateY(0);
  }
  .projects .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .projects .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .projects .card:hover,
  .projects .card:focus-within {
    align-items: center;
  }
  .projects .card:hover:before,
  .projects .card:focus-within:before {
    transform: translateY(-4%);
  }
  .projects .card:hover:after,
  .projects .card:focus-within:after {
    transform: translateY(-50%);
  }
  .projects .card:hover .content,
  .projects .card:focus-within .content {
    transform: translateY(0);
  }
  .projects .card:hover .content > *:not(.title),
  .projects .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 87.5ms;
  }
  .projects .card:focus-within:before, .projects .card:focus-within:after,
  .projects .card:focus-within .content,
  .projects .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

@media (min-width: 390px) {
  .nav .menu-nav__link {
    font-size: 2rem;
  }
  .nav .menu-nav__item #btn-color {
    font-size: 1.5rem;
    width: 18rem;
  }
  .about .features {
    margin-left: 13%;
  }
  main .social-icons {
    padding: 0 1rem;
  }
  main .social-icons i {
    font-size: 1.5em;
  }
}
@media (min-width: 981px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: #f0f0f0;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-left: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
  .about__bio {
    font-size: 1.5rem;
  }
  .projects__bio-image {
    height: 50vh;
  }
  .projects .page-content {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
  main .social-icons {
    gap: 1.5rem;
  }
  main .social-icons i {
    font-size: 2em;
  }
  .about .features {
    margin-left: 9%;
  }
  .nav .menu-nav__item #btn-color {
    font-size: initial;
    width: initial;
  }
}
@media (min-width: 992px) {
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1400px) {
  .projects__bio-image {
    height: 50vh;
  }
  .nav .menu-nav__link {
    font-size: 1.9rem;
  }
}

/*# sourceMappingURL=styleJV.css.map */
