@use "_variables" as v;

.about {
  padding-bottom: 2rem;

  &__bio-image {
    height: 50vh;
    width: 100%;
    background: linear-gradient(to right,
        rgba(v.$primary-color, 0.9),
        rgba(v.$primary-color, 0.3)),
      url(../img/foto-gena.jpg) center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-bottom: 2rem;
      font-family: "Montserrat", sans-serif;

    }
  }

  &__bio {
    width: 80%;
    text-align: center;

    .text-secondary {
      padding-bottom: 1rem;
    }
  }

  .features {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    p {
      font-family: "Montserrat", sans-serif;
    }

    &__feature {
      background: lighten(v.$primary-color, 10%);
      padding: 0.5rem;
      border: thick double v.$clr-white;

      h2 {
        margin-bottom: 0.5rem;
      }

      .items {
        list-style: none;


        .element {
          padding: 0.5rem 0rem;
          text-transform: uppercase;
          border-bottom: 2px solid #6fc909;
        }

      }
    }
  }



  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}