@use "_variables" as v;
@use "_mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$primary-color;
  color: v.$clr-white;
  height: 100vh;
  font-family: sans-serif;



  header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: v.$clr-white;
  text-decoration: none;
}


main {
  height: 100%;
  width: 100%;

  .text-secondary {
    color: v.$secondary-color;
  }


  .social-icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 1rem;
    padding: 0 0.7rem;
    // darle mas padding desde 360px
    align-items: center;
    gap: 0.5rem;

    i {
      font-size: 1em;
      // font-size: 2em desde 360px;
    }

    a {
      padding: 0.4rem;
      @include m.transition-ease;

      &:hover {
        color: v.$secondary-color;
      }
    }
  }
}