@use "_mixins" as m;
@use "_variables" as v;

@include m.small-sm {
  .nav .menu-nav__link {
    font-size: 2rem
  }


  main .social-icons {
    padding: 0 1rem;
    gap: 1rem;

    i {
      font-size: 1.5em;

    }
  }
}


@include m.media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: v.$primary-color;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }

  main .social-icons i {
    font-size: 2em;
  }
}

@include m.media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include m.media-xxl {
  .projects__bio-image {
    height: 50vh;
  }
}