@use "_variables" as v;
@use "_mixins" as m;






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$primary-color;
  color: v.$clr-white;
  height: 100vh;
  font-family: sans-serif;



  header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
  }
}

.image-text {
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  color: v.$color-head;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: v.$clr-white;
  text-decoration: none;
}


main {
  height: 100%;
  width: 100%;

  .text-secondary {
    color: v.$secondary-color;
  }


  .social-icons {
    display: none;
    flex-direction: column;
    position: fixed;
    margin-left: 2%;
    bottom: 1rem;
    width: 2rem;
    align-items: center;
    gap: 1rem;
    animation: move-right 0.5s linear;
    transform: translateX(0);

    i {
      font-size: 1.5em;

    }

    a {
      padding: 0.4rem;
      @include m.transition-ease;

      &:hover {
        color: v.$secondary-color;
      }
    }
  }
}

@keyframes move-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes move-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);

  }
}