@use "_mixins" as m;
@use "_variables" as v;

@include m.small-sm {

  .nav .menu-nav__link {
    font-size: 2rem
  }

  .nav .menu-nav__item #btn-color {
    font-size: 1.5rem;
    width: 18rem;
  }


  .about .features {
    margin-left: 13%;
  }


  main .social-icons {
    padding: 0 1rem;

    i {
      font-size: 1.5em;

    }
  }



  .about__bio-image,
  .projects__bio-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white
  }


}



@include m.media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: v.$primary-color;
      text-align: right;

      &__item {
        display: inline;
        padding-left: 1.5rem;

      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;

    &-image {
      margin-top: 4rem;
    }
  }

  .projects {
    &__bio-image {
      height: 50vh;

      margin-top: 4rem;
    }

    .page-content {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));

    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }

  main .social-icons {
    gap: 1.5rem;


    i {
      font-size: 2em;

    }
  }

  .about .features {
    margin-left: 9%;
  }

  .nav .menu-nav__item #btn-color {
    font-size: initial;
    width: initial;
    margin-right: 0.8rem;
  }
}

@include m.media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }


}

@include m.media-xxl {
  .projects__bio-image {
    height: 50vh;
  }

  .nav .menu-nav__link {
    font-size: 1.9rem;
  }
}