$description: 'Cardo', serif;
$color-head: #c8fff2;

// color black
// sass --watch scss/style.scss css/style.css
$primary-color: #252424;
$secondary-color: #6fc909;
$clr-white: #f0f0f0;
// color white
// sass --watch scss/style.scss css/styleJV.css
// $primary-color: #f0f0f0;
// $secondary-color: #6fc909;
// $clr-white: #252424;